.slider{
    width: 90%;
    position: relative;
    height: 300px;
    margin: 0 auto;
}
.slider .item img {
	width: 100%;
	height: 300px;
	object-fit: cover;
}
.prev, .next{
	cursor: pointer;
	position: absolute;
	top: 50%;
	font-size: 30px;
	padding: 20px;
	margin-top: -30px;
	color: #000;
	transition: 0.4s;
	border-radius: 0 3px 3px 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	color: #fff;
	background: #000;
}
.dots {
	text-align: center;
}
.dots_item {
	cursor: pointer;
	width: 16px;
	height: 16px;
	background: grey;
	display: inline-block;
	border-radius: 50px;
	margin-top: 10px;
	transition: 0.5s;
}
.dots_item:hover {
	background: #000;
}
.active {
	background: #000;
}
.slider .item {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}